NODE_ENV=development

NEXT_PUBLIC_APP_NAME=Nexus
WEB_PORT=3000

API_PORT=8080
API_LOG_LEVEL=info

AI_SERVICE_PORT=8090

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=nexus
POSTGRES_USER=nexus
POSTGRES_PASSWORD=nexus_dev_password

REDIS_HOST=localhost
REDIS_PORT=6379

